@model IEnumerable<StockManagement.ViewModels.ProductStockViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Product Stocks</h1>

<form action ="/Report/ProductStockViewModel" method="get">
    <input type ="text" name="name" value="" />
    <button type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <a href ="/NewProduct/Details/@item.ProductID">View Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
