@model StockManagement.Models.PurchaseDetailsModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PurchaseDetailsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseDetailID" />
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-control" asp-items="ViewBag.ProductID"></select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseID" class="control-label"></label>
                <select asp-for="PurchaseID" class="form-control" asp-items="ViewBag.PurchaseID"></select>
                <span asp-validation-for="PurchaseID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseQuantity" class="control-label"></label>
                <input asp-for="PurchaseQuantity" class="form-control" />
                <span asp-validation-for="PurchaseQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasePrice" class="control-label"></label>
                <input asp-for="PurchasePrice" class="form-control" />
                <span asp-validation-for="PurchasePrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
